numpy
matplotlib
scipy
npTDMS
sympy
requests
PyWaveLets
lmfit
PySide6
pandas
seaborn
openpyxl
pyqtgraph
numexpr
pyinstaller
spectate
traitlets
psutil
tftb
chardet
tabulate
scikit-learn
tables
statsmodels
pybaselines
hdbscan
untangle
deepdiff
configobj
